/* styles/FAQ.module.css */
.container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 8px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
    /* border-bottom: 1px solid black; */
}

.collapse {
    text-align: start;
}



.h2text {
    color: rgba(255, 121, 41, 1);
}

/* h3 {
    font-size: 18px;
    margin-bottom: 20px;
} */

.seeAllButton {
    margin-top: 20px;
    background-color: rgba(255, 121, 41, 1);
    padding: 20px 30px;
}